<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddd.order.infrastructure.repository.mapper.OrderItemDOMapper">
  <resultMap id="BaseResultMap" type="com.ddd.order.infrastructure.repository.dataobject.OrderItemDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="item_count" jdbcType="INTEGER" property="itemCount" />
    <result column="item_price" jdbcType="INTEGER" property="itemPrice" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, item_count, item_price, order_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ddd.order.infrastructure.repository.dataobject.OrderItemDO">
    insert into order_item (id, product_id, item_count, 
      item_price, order_id)
    values (#{id,jdbcType=INTEGER}, #{productId,jdbcType=VARCHAR}, #{itemCount,jdbcType=INTEGER}, 
      #{itemPrice,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ddd.order.infrastructure.repository.dataobject.OrderItemDO">
    insert into order_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="itemCount != null">
        item_count,
      </if>
      <if test="itemPrice != null">
        item_price,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="itemCount != null">
        #{itemCount,jdbcType=INTEGER},
      </if>
      <if test="itemPrice != null">
        #{itemPrice,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ddd.order.infrastructure.repository.dataobject.OrderItemDO">
    update order_item
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=VARCHAR},
      </if>
      <if test="itemCount != null">
        item_count = #{itemCount,jdbcType=INTEGER},
      </if>
      <if test="itemPrice != null">
        item_price = #{itemPrice,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ddd.order.infrastructure.repository.dataobject.OrderItemDO">
    update order_item
    set product_id = #{productId,jdbcType=VARCHAR},
      item_count = #{itemCount,jdbcType=INTEGER},
      item_price = #{itemPrice,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>